<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Quiz</title>
</head>
<body>
    <h3>คำถาม 1</h3>
    <p><strong>คำถาม:</strong> {{ question1 }}</p>

    <h3>คำตอบ</h3>
    <form method="POST" action="/">
        <label for="answer1">กรอกคำตอบ:</label>
        <input type="number" id="answer1" name="answer1" required>
        <button type="submit">ตรวจสอบคำตอบ</button>
    </form>

    {% if result1 %}
        <h1>ผลลัพธ์</h1>
        <p>{{ result1 }}</p>
    {% endif %}

    <h3>คำถาม 2</h3>
    <p><strong>คำถาม:</strong> {{ question2 }}</p>

    <h3>คำตอบ</h3>
    <form method="POST" action="/">
        <label for="answer2">กรอกคำตอบ:</label>
        <input type="number" id="answer2" name="answer2" required>
        <button type="submit">ตรวจสอบคำตอบ</button>
    </form>

    {% if result2 %}
        <h1>ผลลัพธ์</h1>
        <p>{{ result2 }}</p>
    {% endif %}

    <h3>คำถาม 3</h3>
    <p><strong>คำถาม:</strong> {{question3}}</p>

    <h3>คำตอบ</h3>
    <form method="POST" action="/">
        <label for="answer3">กรอกคำตอบ:</label>
        <input type="number" id="answer3" name="answer3" required>
        <button type="submit">ตรวจสอบคำตอบ</button>
    </form>

    {% if result3 %}
        <h1>ผลลัพธ์</h1>
        <p>{{ result3 }}</p>
    {% endif %}
</body>
</html>
